<div class="footer-container container" style="padding-left: 0px;">
    <div class="footer">
        <div class="footer-heading footer-1">
            <h2>INFORMATION</h2>
            <a href="#">Contact Us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>

        </div>
        <div class="footer-heading footer-2">
            <h2>FOLLOW US</h2>
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">Youtube</a>
        </div>
        <div class="footer-heading footer-3">
            <h2>WORKING HOURS</h2>
            <p class="working-hours">Available Sunday-Thursday <br> from 10am-11pm
            </p>
        </div>
    </div>
</div>