<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/NavSheet.css">
        <link rel="stylesheet" href="/ProductSheet.css">

        <!-- Change to get from db -->
        <title>Document</title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <div class="container">
            <div class="flex-child product-container">
                <div class="product">
                    <img src="https://citycenter.jo/image/cache/catalog/12020/82020/OMN-1200x1200.png" alt="" style="width: 100%; max-height: 30vh; border-bottom: black solid 1px;">
                    <p class="product-name">OMEN by HP 15-ek1000ne NEW 10Gen Core i7 8-Cores w/ RTX 3070 300Hz</p>
                    <div class="box">
                        <p class="in-stock">In Stock</p>
                    </div>
                    <p class="price-tag">0.00 JD</p>
                </div>
            </div>
        </div>





        <%- include('../partials/javacode.ejs') %>
</body>

</html>